{% extends "template.html" %}

{% block main %}

    <section class="card m-5">
        <header class="card-header">
            <h3>Editar Usuario</h3>
        </header>
        <div class="card-body">
            <form action="/usuario/atualizar" method="post">
                <input type="hidden" name="id" value={{usuario.id}}> 
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" name="nome" value="{{usuario.nome}}" class="form-control">
                </div>
                <div class="form-group">
                    <label>e-mail</label>
                    <input type="text" name="email" value="{{usuario.email}}" class="form-control">
                </div>
                <div class="form-group">
                    <label>senha</label>
                    <input type="text" name="senha" value="{{usuario.senha}}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div><!-- card-body -->
    </section><!-- card-->

   
{% endblock %}